<p>Hey {{ name }},</p>
<p>Your booking is confirmed. If you are using the auto check-in, you can join our safety page and move to the experience place. </p>
<p>
    <a href="{{ url }}">The Safety of {{ experience_title }}</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>