<p>Hi, {{ email }}</p>
<p>You are invited to our system. Please use the below information to signin:</p>
<p>
    <b>Email: {{ email }}</b>
</p>
<p>
    <b>Password: {{ password }}</b>
</p>
<p>
    <b>Our login page: {{ url }}</b>
</p>
